<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},_,_,~{::nav},~{::main},_)}">

<head>
    <meta name="author" content="Gianluca Nogara">
    <meta name="description" content="HTML edit page">
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet">
    <title>Create Item</title>
</head>

<body>
<nav th:replace="nav" class="navbar navbar-light bg-light">
    <form class="form-inline" th:action="@{/}">
        <button class="btn btn-outline-success" type="submit">Homepage</button>
    </form>
</nav>
<main th:fragment="content">
    <h1 align="center" class="display-3">Edit Item</h1>
    <div id = "form" align="center">

        <form action="#" th:action= @{/item/{id}/edit(id=${item.getId()})} th:object="${item}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Type of announcement</label>
                <select th:field="${item.annuncio}" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option th:value="Offerta">Offerta</option>
                    <option th:value="Richiesta">Richiesta</option>
                </select>
            </div>

            <div class="form-group">
                <label for="formGroupTitle">Title</label>
                <input type="text" class="form-control" id="formGroupTitle" name="title" th:field="*{title}" placeholder="Insert title">
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="inlineForm2">Author</label>
                <select th:field="${item.author.username}" class="custom-select my-1 mr-sm-2" id="inlineForm2">
                    <option th:each="author: ${authors}" th:value="${author.username}" th:text="${author.getUsername()}"></option>
                </select>
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="inlineForm3">Category</label>
                <select th:field="${item.category.category}" class="custom-select my-1 mr-sm-2" id="inlineForm3">
                    <option th:each="category: ${categories}" th:value="${category.category}" th:text="${category.getCategory()}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="formGroupDescription">Description</label>
                <input type="text" class="form-control" id="formGroupDescription" name="title" th:field="*{description}" placeholder="Insert description">
            </div>

            <div class="form-group">
                <label for="formGroupCosto">Description</label>
                <input type="text" class="form-control" id="formGroupCosto" name="title" th:field="*{costo}" placeholder="Insert price">
            </div>

            <div class="form-group">
                <label for="file">Seleziona file</label>
                <input id="file" type="file" name="file" value="Seleziona file" accept="image/jpeg" /><br>
            </div>

            <button type="submit" class="btn btn-primary">Modifica</button>

        </form>
    </div>

</main>
</body>
</html>


